html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  align-items: center;
}

.page-content {
  flex: 1;
  width: 100%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 0;
}
