header {
  background-color: black;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}


nav ul {
  display: flex;
  list-style: none;
  gap: 3vw; 
  padding: 0;
  margin: 0;
}


nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 20px; 
  border-radius: 10px;
  transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
  color: white;
  background-color: #3a43c9;
}

@media (max-width: 768px) {
  nav ul {
    gap: 2vw; 
  }

  nav ul li a {
    font-size: 16px;
    padding: 10px 15px; 
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column; 
    gap: 10px; 
    align-items: center;
  }

  nav ul li a {
    font-size: 14px;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
  }
}
